extend ../layout
block content
  <div id='error-page'>
  <div id='error-inner'>
  <h1> You are lost in the internet</h1>
  <div class="pesan-eror">404</div>
  <p class="balik-home"><a href="javascript:history.go(-1)">Let's get Back on the road!</a></p><br/>
  </div>
  </div>
